.bg
  .container
    .timer_wrap
      #counter  
    .newsletter
      form
        input(type='text', name='ne', size='30', required='', placeholder='Please fill your email')
        input(type='submit', value='Subscribe')