.bottom_content
  h3 Our Projects
  |      
  .grid_2
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t15.jpg', alt='')
        |                 
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                 
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t10.jpg', alt='')
        |                  
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t12.jpg', alt='')
        |                  
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .clearfix  
  |      
  .grid_3
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t11.jpg', alt='')
        |                  
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                 
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t14.jpg', alt='')
        |                  
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .col-md-4.portfolio-left
      .portfolio-img.event-img
        img.img-responsive(src='/images/t13.jpg', alt='')
        |                  
        .over-image
      |             
      .portfolio-description
        h4
          a(href='#') Lorem Ipsum
        |                
        p
          | Mauris diam massa, malesuada a sapien in, semper vehicula erat. Vivamus sagittis leo a ullamcorper ultricies. Suspendisse placerat mattis arcu nec por
        |                
        span
          a(href='students.html') School Studies
          |                   
          a(href='students.html') College Studies
        |                 
        a(href='events.html')
          span
            i.fa.fa-chain.chain_1
            | VIEW PROJECT
      |             
      .clearfix  
    |         
    .clearfix  
|     