.footer
  .container
    .col-md-3.grid_4
      h3 关于我们
      p
        | 这是用来记录慕课学习的一套系统
    .col-md-3.grid_4
      h3 Quick Links
      ul.footer_list
        li
          a(href='/course/list') -  慕课所有课程
    .col-md-3.grid_4
      h3 联系我们
      |           
      address         
        span 郑州轻工业学院
        br
        abbr 电话 : 
        |  +86 18858395625
        br
        abbr Email : 
        a(href='mailto:zhangchao564265135@hotmail.com') zhangchao564265135@hotmail.com
    .col-md-3.grid_4
      h3 培训时间
      table.table_working_hours
        tbody
          tr.opened_1
            td.day_label 周六
            td.day_value 7:30 pm - 9.00 pm
    .clearfix  
    .copy
      p Copyright © 2017.
        a(href="https://limonplayer.cn", target="_black") Lanseria Studio
        |  All rights reserved.
script(src='/js/jquery.countdown.js')
script(src='/js/script.js')