.courses_banner
  .container
    h3 #{sub_title}
    p.description
      | #{sub_description}
    .breadcrumb1
      ul
        li.icon6
          a(href='/index') 主页
        li.current-page #{sub_title}
// //banner