extends ../layout

block content
  .courses_box1
    .container
      .col-md-6.about_left
        h1 欢迎
        p
          | 学习进度平台的推出与发布,主要应对某些社团的需要,除了督促学员在自学的时候有和别的学员比较的机会,也同样提供了一定的交流机会.
        ul.about_links
          li
            a(href='https://nodejs.org/en/') 本项目采用Node.js+MongoDb+Express框架搭建
          li
            a(href='https://github.com/wangfupeng1988/wangEditor') 感谢wang富文本编辑器的代码
          li
            a(href='https://www.npmjs.com/') 更感谢Npm整个平台的开源带来的便捷
        a.radial_but(href='#') Read More
      .col-md-6
        img.img-responsive(src='images/event.jpg', alt='')
      .clearfix  
