extends ../layout

block content
  .admission
    .container
      .terms
        h1 大学生创业中心
        .terms_top
          p 我们通过技术指导、培训，参加项目建设使每位成员的实践能力、工作态度、合作精神、科技创新意识、激情创业能力等得到全面提高。中心目前致力于网站制作、软件开发、电脑维护和多媒体处理，现正朝自主产品研发、项目科技创新、软件开发等方向发展，并且在系领导老师的支持和协助下逐步发展成为大学生科技创业公司。
          ol.terms_list
            li 随着计算机、网络及信息技术的高速发展，社会对计算机应用型、实践型人才的需求迅速膨胀，造成了社会需求与人才培养之间矛盾不断地加剧。我院专业人才富足与无用武之地一直是个无法解决的矛盾：为了充分发挥我院学生的专业优势，更好的促进其专业理论知识与实际动手能力的有机结合，也为我们根据自身特点走出一条适应学生培养及教育、管理的新型模式打下坚实的基础，我院成立了大学生科技创业中心。大学生创业中心可有力地缓解这个矛盾，使专业人才培养走上良性循环的道路；又可解决实际问题，锻炼学生的社会实践能力。
            li(style='margin-bottom: 30px;') 大学生科技创业中心成立于2002年，是计算机与通信工程学院在郑州轻工业学院率先推出的大学生科技创业团队，通过参加项目建设使每位成员的实践能力，团队合作，科技创新能力，创业激情等得到全面提高。起初时规模还很小，我们坚信，大学生科技创业中心一定会在沈老师带领和同学们得共同努力下变得更好截止到现在已经历了八年有余的风雨历程，八年的发展过程中我们由开始的默默无闻，到如今的名声在外；由初步的只能做几个简单小网站的思路发展到现在我们已经摸索出一条适合大学生自主创业、体验社会，目标明确，结构合理的发展思路。让大家切实体验到了创业的乐趣和收获的喜悦！
            h4 动漫部
            p 培养成员熟练精通使用photoshop图像处理、Flash动画设计、Dreamweaver网页设计、CSS、Html、绘声绘影、MAYA视频处理软件、多媒体处理等;以处理图片，UI设计，设计、制作网页为主要任务。
            h4 网络部
            p 主要负责培养能熟练掌握电脑软硬件知识的全能人才，特别是笔记本和台式电脑的维修技能，并充分利用自身的技术优势服务于全校师生以及部分院校的电脑维护与管理。部门每学期都会组织多次的校园义务维修电脑活动，让每一个部员都能够发挥自己的所学。现在，部门不仅为全校师生提供免费的电脑维护与修理，而且部门每年暑假都会安排人员到社区去为社区居民提供电脑方面的服务。
            h4 技术部
            p 培养部内成员熟练掌握数据库开发和C、C++、C#、Java、PHP、ASP.net等编程技术，主要负责网站的后台制作。现分为两个方向：C#方向：主要使用C语言、C++、Ｃ＃等编程语言在开发平台对网站进行设计和维护；JAVA方向：主要使用Java、VB、Javascript等编程语言在开发平台对网站进行设计和维护；
            h4 行政部
            p 主要负责社团日常事务的运作：会议记录的汇总和整理,中心成员信息的汇总,社团成员的评定工作,各部门之间的联络工作,协助网站管理维护,监督中心制度的实施，管理中心日常事务及财务管理分配等。
            h4 项目部
            p 由一批组织及领导沟通能力强的人员组成，主要工作是对每个项目和团队进行有效的人员分配和组织管理，并对正在在进行的网站全程跟进。肩负着将作品与客户相接触的重任，具有桥梁的作用。
