doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='designed by others')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='/css/bootstrap-3.1.1.min.css', rel='stylesheet', type='text/css')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/modernizr.js')
    // Custom Theme files
    link(href='/css/style.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/jquery.countdown.css')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
    // font-Awesome
    link(href='/css/font-awesome.css', rel='stylesheet')
    link(rel="icon" type="image/png" href="/logo.png")
    script.
      $(document).ready(function(){
      $(".dropdown").hover(
      function() {
      $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
      $(this).toggleClass('open');
      },
      function() {
      $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
      $(this).toggleClass('open');
      }
      );
      });
  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only 切换导航
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/index') #{title}
        // /.navbar-header
        #bs-example-navbar-collapse-1.navbar-collapse.collapse(style='height: 1px;')
          ul.nav.navbar-nav
            li.dropdown
              a(href='/course/list')
                i.fa.fa-list
                span 课程
            li.dropdown
              if user
                a(href='/user/center')
                  i.fa.fa-user
                  span #{user.name} 
                ul.dropdown-menu
                  li
                    a(href='/logout') 退出
              else
                a(href='/signin')
                  i.fa.fa-user
                  span 登录
            
        .clearfix
    include ./includes/topbanner
    block content
    include ./includes/footer
    
    
